@using System.Linq
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div id="wrapper">
    <div class="login-form">
        <div class="header">
            <h1>Authorization</h1>
            <section id="socialLoginForm">
                
                @{
                    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div id="socialLoginList">
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    var str = "/images/" + @provider.DisplayName + ".png";
                                    <input src="@str" id="picture" type="image" name="provider" value="@provider.DisplayName" title="Log in using your @provider.Name account"/>
                                }
                            </p>
                        </div>
                    </form>
                }

            </section>
        </div>

        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="content">
                <input asp-for="Email" type="text" class="input username" placeholder="Email" autofocus>
                <span asp-validation-for="Email" class="text-danger"></span>
                <input asp-for="Password" type="password" class="input password" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="footer">
                <input type="submit" name="submit" value="Sign In" class="buttonreg"/>
            </div>
        </form>

    </div>
</div>

<div class="gradient"></div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}